*{
    font-family: 'VT323', monospace !important;
}

body
{
    height: 100svh;
    width: 100svw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

span
{
    width: 20svw;
}

h1
{
    color: white;
    font-size: 65px;
}

p{
    color: white;
    font-size: 25px;
}

.container
{
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding: 30px;
}

.switch
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.switch button
{
    height: 40%;
    border: 2px solid white;
    background-color: black;
    color: white;
    transition: 0.5s;
    font-size: 25px;
}

.switch button:hover
{
    cursor: pointer;
    background-color: white;
    color: black;
}

.gameContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myCanv
{
    border: 3px solid white;
    border-left: 3px dotted white;
    border-right: 3px dotted white;
}